# Python bytecode
*.pyc
*.pyo
__pycache__/

# Папка виртуального окружения
venv/
env/

# Папки для тестов + базы данных
/test
/school_notebooks_RU

# Директория для установки зависимостей с использованием pip
pip-wheel-metadata/

# Конфигурации IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db

# Лог файлы
*.log

# Файлы, которые могут быть специфичны для вашего проекта, например:
*.sqlite3
*.db

# Игнорировать файлы, созданные при тестировании
*.pytest_cache
